updated code.json
{
  "name": "Student Inquiry Auto Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "student",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        128
      ],
      "id": "1742c599-7359-4ada-affb-70a06cb8c98a",
      "name": "Webhook",
      "webhookId": "5c067050-f41f-43d8-b26d-119a7fa00cd3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.inquiry_type }}",
                    "rightValue": "Financial Aid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bccd4954-c606-4916-8035-e248cd24325e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "566cea39-9ead-42b3-af1c-8713fc331c9f",
                    "leftValue": "={{ $json.body.inquiry_type }}",
                    "rightValue": "Admissions",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eb9fbfcf-ac50-47cb-8398-1d7467df48d3",
                    "leftValue": "={{ $json.body.inquiry_type }}",
                    "rightValue": "IT Support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        224,
        96
      ],
      "id": "00b2cf49-4afd-4525-8f31-2ab813ef665f",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appYsXSZlIqKN1Doq",
          "mode": "list",
          "cachedResultName": "Student Inquiry Base",
          "cachedResultUrl": "https://airtable.com/appYsXSZlIqKN1Doq"
        },
        "table": {
          "__rl": true,
          "value": "tblJzPl4vm4UpBR58",
          "mode": "list",
          "cachedResultName": "Financial Aid",
          "cachedResultUrl": "https://airtable.com/appYsXSZlIqKN1Doq/tblJzPl4vm4UpBR58"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "Message": "={{ $json.body.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Received",
              "displayName": "Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        -160
      ],
      "id": "e7761ed4-e1d6-405a-b473-b794f3eec06d",
      "name": "Financial Aid",
      "credentials": {
        "airtableTokenApi": {
          "id": "cMwNi1nsTVSpnYtU",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appYsXSZlIqKN1Doq",
          "mode": "list",
          "cachedResultName": "Student Inquiry Base",
          "cachedResultUrl": "https://airtable.com/appYsXSZlIqKN1Doq"
        },
        "table": {
          "__rl": true,
          "value": "tblVMvg6ibgtXIx2T",
          "mode": "list",
          "cachedResultName": "Admissions",
          "cachedResultUrl": "https://airtable.com/appYsXSZlIqKN1Doq/tblVMvg6ibgtXIx2T"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Webhook').item.json.body.name }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Message": "={{ $('Webhook').item.json.body.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Received",
              "displayName": "Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        32
      ],
      "id": "b55cb9c1-d59d-4b45-a6bc-68350bdb0ac8",
      "name": "Admissions",
      "credentials": {
        "airtableTokenApi": {
          "id": "cMwNi1nsTVSpnYtU",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appYsXSZlIqKN1Doq",
          "mode": "list",
          "cachedResultName": "Student Inquiry Base",
          "cachedResultUrl": "https://airtable.com/appYsXSZlIqKN1Doq"
        },
        "table": {
          "__rl": true,
          "value": "tblsbMX5EDvKAPM0l",
          "mode": "list",
          "cachedResultName": "IT Support",
          "cachedResultUrl": "https://airtable.com/appYsXSZlIqKN1Doq/tblsbMX5EDvKAPM0l"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Webhook').item.json.body.name }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Message": "={{ $('Webhook').item.json.body.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Received",
              "displayName": "Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        224
      ],
      "id": "a6989dad-4c03-44db-a0da-9a9f31699fb7",
      "name": "ITSupport",
      "credentials": {
        "airtableTokenApi": {
          "id": "cMwNi1nsTVSpnYtU",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appYsXSZlIqKN1Doq",
          "mode": "list",
          "cachedResultName": "Student Inquiry Base",
          "cachedResultUrl": "https://airtable.com/appYsXSZlIqKN1Doq"
        },
        "table": {
          "__rl": true,
          "value": "tblYRYPDjv3ADJAik",
          "mode": "list",
          "cachedResultName": "Manual Review",
          "cachedResultUrl": "https://airtable.com/appYsXSZlIqKN1Doq/tblYRYPDjv3ADJAik"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "Message": "={{ $json.body.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Received",
              "displayName": "Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        416
      ],
      "id": "60f51360-cfa8-4865-8d80-46c7f4404d7c",
      "name": "Manual Review",
      "credentials": {
        "airtableTokenApi": {
          "id": "cMwNi1nsTVSpnYtU",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "We received your inquiry",
        "message": "=Hi {{ $('Webhook').item.json.body.name }},  Thank you for contacting us. We've received your {{ $('Webhook').item.json.body.inquiry_type }} inquiry and will respond within 24 hours.  Your message: {{ $('Webhook').item.json.body.message }} \n\nBest, University Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        -160
      ],
      "id": "00e6e99f-bf0d-48e9-845b-6851c0a50ef0",
      "name": "Send a message",
      "webhookId": "c676c14b-f16d-4b94-91e7-61380151d991",
      "credentials": {
        "gmailOAuth2": {
          "id": "7XTx7a0Vq8VOSsY4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "We received your inquiry",
        "message": "=Hi {{ $('Webhook').item.json.body.name }},  Thank you for contacting us. We've received your {{ $('Webhook').item.json.body.inquiry_type }} inquiry and will respond within 24 hours.  Your message: {{ $('Webhook').item.json.body.message }} \n\nBest, University Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        32
      ],
      "id": "52934ed0-47c5-4048-b9f6-99698982cc02",
      "name": "Send a message1",
      "webhookId": "c676c14b-f16d-4b94-91e7-61380151d991",
      "credentials": {
        "gmailOAuth2": {
          "id": "7XTx7a0Vq8VOSsY4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "We received your inquiry",
        "message": "=Hi {{ $('Webhook').item.json.body.name }},  Thank you for contacting us. We've received your {{ $('Webhook').item.json.body.inquiry_type }} inquiry and will respond within 24 hours.  Your message: {{ $('Webhook').item.json.body.message }} \n\nBest, University Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        416
      ],
      "id": "2ea62139-5936-4a11-937e-7680ad9b4665",
      "name": "Send a message2",
      "webhookId": "c676c14b-f16d-4b94-91e7-61380151d991",
      "credentials": {
        "gmailOAuth2": {
          "id": "7XTx7a0Vq8VOSsY4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "We received your inquiry",
        "message": "=Hi {{ $('Webhook').item.json.body.name }},  Thank you for contacting us. We've received your {{ $('Webhook').item.json.body.inquiry_type }} inquiry and will respond within 24 hours.  Your message: {{ $('Webhook').item.json.body.message }} \n\nBest, University Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        224
      ],
      "id": "1dcd64c2-77fb-4207-a09f-96eeec31caf5",
      "name": "Send a message3",
      "webhookId": "c676c14b-f16d-4b94-91e7-61380151d991",
      "credentials": {
        "gmailOAuth2": {
          "id": "7XTx7a0Vq8VOSsY4",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Financial Aid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admissions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ITSupport",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Financial Aid": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admissions": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Review": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ITSupport": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ca252794-b5d7-472e-a92b-cbfb7b567e65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "302b8fc1f23112ef3ec68bb013724886582ac4a3e8fa4144de4b923b95c623ba"
  },
  "id": "nfA2r4cNYk_Gaeh_v26I9",
  "tags": [
    {
      "updatedAt": "2026-02-27T21:11:18.536Z",
      "createdAt": "2026-02-27T21:11:18.536Z",
      "id": "CUyzTga0YlhyHrLq",
      "name": "Higher Ed"
    }
  ]
}